@import '../../theme';

@prefix-cls: ~'@{ra-lib-prefix}-layout-menu';

.@{prefix-cls} {
    &-top {
        flex: 0;
    }

    &-search {
        padding: 8px;
    }

    &-menu {
        flex: 1;
        overflow: auto;

        &::-webkit-scrollbar {
            width: 0 !important;
        }
    }

    &-title {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &:hover {
            .@{prefix-cls}-collection-icon {
                opacity: 1;
            }
        }
    }

    &-collection-icon {
        flex: 0;
        opacity: 0;
        transition: opacity .3s;
    }

    &-empty {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        opacity: .15;
        margin: 0;

        &.dark-menu {
            color: #fff;
        }
    }

}

